<!doctype html>
<html>
<head>
    <title>Skills-HTML-CSS</title>
    <link rel="stylesheet" type="text/css" href="./static/styles.css">
</head>
<body>

<!-- your html goes here -->
    <h1>Welcome! We're so excited you decided to apply to our positions at Ubermelon!</h1>
    <h2>Enter your name, the job title you want to apply for, and click submit!</h2>
    <form action="/application" method="POST">
        <label>First name:<br>
            <input type="text" name="firstname" class="first"><br><br>
        </label>
        <label>Last name:<br>
            <input type="text" name="lastname" class="last"><br><br>
        </label>
        <label>Job Title:<br>      
            <select name="job">
                <option value="software">Software Engineer</option>
                <option value="qa">QA Engineer</option>
                <option value="prodmgr">Product Manager</option>
            </select>
        </label><br><br>
        <label>Salary:<br>
            <input type="text" name="salary" class="salary"><br><br>
        </label>
        <a href="/application">Submit</a>
    </form>
</body>
</html>